1. Connection Request.json
{
  "name": "1. Connection Request",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appTsI7XlBJ35Mxaq",
          "mode": "list",
          "cachedResultName": "Nick DiMauro Linkedin",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq"
        },
        "table": {
          "__rl": true,
          "value": "tbl6VIyIg5408R7P5",
          "mode": "list",
          "cachedResultName": "Connection Request Automation",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq/tbl6VIyIg5408R7P5"
        },
        "filterByFormula": "{Status} = ''",
        "returnAll": false,
        "limit": 15,
        "options": {},
        "sort": {
          "property": [
            {
              "field": "First Name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -736,
        560
      ],
      "id": "b014dc88-4ea1-458b-89dc-b1b346a933f9",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "5dPwU0FmCFuTx9WL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api8.unipile.com:13864/api/v1/users/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "AL0kPvT8.7ty75xRWpMxQyegU/qAkiSDoiXuNC8J0gaySc61V8yo="
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider_id",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "account_id",
              "value": "dgJXdWMjSketTUTwC6f88w"
            },
            {
              "name": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        544
      ],
      "id": "ac9d625c-edd5-4254-a632-717bf590dbc6",
      "name": "Send Invite",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Extract the LinkedIn username from the profile URL\nreturn items.map(item => {\n  const rawUrl = item.json[\"LinkedIn Contact Profile URL\"] || \"\";\n  \n  // Match everything after 'linkedin.com/in/' using regex\n  const match = rawUrl.match(/linkedin\\.com\\/in\\/([^/?#]+)/i);\n  \n  const username = match ? decodeURIComponent(match[1]) : null;\n\n  return {\n    json: {\n      ...item.json,\n      linkedInUsername: username  // Add extracted username to item\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        592
      ],
      "id": "4e83fccf-d57e-44ae-846a-e7274e84ed00",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTsI7XlBJ35Mxaq",
          "mode": "list",
          "cachedResultName": "Nick DiMauro Linkedin",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq"
        },
        "table": {
          "__rl": true,
          "value": "tbl6VIyIg5408R7P5",
          "mode": "list",
          "cachedResultName": "Connection Request Automation",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq/tbl6VIyIg5408R7P5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Request Sent"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedIn Contact Profile URL",
              "displayName": "LinkedIn Contact Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "Request Already Sent",
                  "value": "Request Already Sent"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Invalid URL",
                  "value": "Invalid URL"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        320
      ],
      "id": "62f311d6-20b7-4df2-aa66-9c7952c063ee",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "5dPwU0FmCFuTx9WL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        544
      ],
      "id": "3183fe76-2b79-4530-9c8e-ddbfd57d6c4e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        560
      ],
      "id": "c0ad792b-2d44-4fc6-b21a-40052f39efb5",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "=https://api8.unipile.com:13864/api/v1/users/{{ $json.linkedInUsername }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "dgJXdWMjSketTUTwC6f88w"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "AL0kPvT8.7ty75xRWpMxQyegU/qAkiSDoiXuNC8J0gaySc61V8yo="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -32,
        576
      ],
      "id": "310640e0-8841-47d7-919f-702b90ddde18",
      "name": "Retrieve Profile",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69e34ec1-37f4-4679-8b2d-a981b65ba943",
              "leftValue": "={{ $json.object }}",
              "rightValue": "=UserInvitationSent",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        576
      ],
      "id": "95e82ecb-585e-4f22-b490-48879883be5e",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b44ec466-6094-4195-b5d3-2d0360d8779e",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 422,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        560
      ],
      "id": "5914eaa2-bb3e-4588-a714-ebebbc065b8c",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTsI7XlBJ35Mxaq",
          "mode": "list",
          "cachedResultName": "Nick DiMauro Linkedin",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq"
        },
        "table": {
          "__rl": true,
          "value": "tbl6VIyIg5408R7P5",
          "mode": "list",
          "cachedResultName": "Connection Request Automation",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq/tbl6VIyIg5408R7P5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Request Already Sent"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedIn Contact Profile URL",
              "displayName": "LinkedIn Contact Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "Request Already Sent",
                  "value": "Request Already Sent"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Invalid URL",
                  "value": "Invalid URL"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1040,
        544
      ],
      "id": "d49fe310-c59d-4c2f-bbae-52dad30c96bc",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "5dPwU0FmCFuTx9WL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTsI7XlBJ35Mxaq",
          "mode": "list",
          "cachedResultName": "Nick DiMauro Linkedin",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq"
        },
        "table": {
          "__rl": true,
          "value": "tbl6VIyIg5408R7P5",
          "mode": "list",
          "cachedResultName": "Connection Request Automation",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq/tbl6VIyIg5408R7P5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Error"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedIn Contact Profile URL",
              "displayName": "LinkedIn Contact Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "Request Already Sent",
                  "value": "Request Already Sent"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Invalid URL",
                  "value": "Invalid URL"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1056,
        736
      ],
      "id": "f17b86ce-febe-4921-8764-e19120610c63",
      "name": "Update record2",
      "credentials": {
        "airtableTokenApi": {
          "id": "5dPwU0FmCFuTx9WL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        976
      ],
      "id": "e8d1e164-7e36-4a45-bcce-2bbe8fe8eb21",
      "name": "Wait2",
      "webhookId": "8aa5e63e-63aa-4e29-8957-e26f672f32af"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appTsI7XlBJ35Mxaq",
          "mode": "list",
          "cachedResultName": "Nick DiMauro Linkedin",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq"
        },
        "table": {
          "__rl": true,
          "value": "tbl6VIyIg5408R7P5",
          "mode": "list",
          "cachedResultName": "Connection Request Automation",
          "cachedResultUrl": "https://airtable.com/appTsI7XlBJ35Mxaq/tbl6VIyIg5408R7P5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Status": "Invalid URL"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedIn Contact Profile URL",
              "displayName": "LinkedIn Contact Profile URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "Request Already Sent",
                  "value": "Request Already Sent"
                },
                {
                  "name": "Error",
                  "value": "Error"
                },
                {
                  "name": "Invalid URL",
                  "value": "Invalid URL"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1056,
        928
      ],
      "id": "e5244de4-5850-482b-893c-49939b2d18e6",
      "name": "Update record3",
      "credentials": {
        "airtableTokenApi": {
          "id": "5dPwU0FmCFuTx9WL",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api3.unipile.com:13356/api/v1/users/{{ $json.linkedInUsername }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "13EWEHyhTN-xs7bNbqf3nA"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "Bp5GUojE.56xi9XF8ffsUlxRDV4Wj8RlLLMtW3hTpcZI1MKxhi08="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        240
      ],
      "id": "7a26e3c7-fc3d-4db3-ab24-82da46d07845",
      "name": "Retrieve Profile1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api3.unipile.com:13356/api/v1/users/invite",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "Bp5GUojE.56xi9XF8ffsUlxRDV4Wj8RlLLMtW3hTpcZI1MKxhi08="
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider_id",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "account_id",
              "value": "13EWEHyhTN-xs7bNbqf3nA"
            },
            {
              "name": "message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        256
      ],
      "id": "609004de-ea60-4b38-8a6a-f0624478a26b",
      "name": "Send Invite1",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Retrieve Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Invite": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Profile": {
      "main": [
        [
          {
            "node": "Send Invite",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record3": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedPerExecution": 5
  },
  "versionId": "5bc02ed4-2739-4fa9-ba14-7db9b019cb7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3f98405bb6381d329003a7d6568717203861a59d6e699e2d8e30bfa8706d84bf"
  },
  "id": "vkuwIqIlw1ANee1v",
  "tags": []
}