4. DM automations.json
{
  "name": "4. DM automations",
  "nodes": [
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6RbSZXL8BNziE2",
          "mode": "list",
          "cachedResultName": "Scrapper Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2"
        },
        "table": {
          "__rl": true,
          "value": "tblYEi97I3COQn2Ja",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2/tblYEi97I3COQn2Ja"
        },
        "filterByFormula": "{Status} = 'DM , Mail Ready'",
        "returnAll": false,
        "limit": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -1776,
        240
      ],
      "id": "117570a1-9cb0-4984-ab1f-dad44fe0e8cf",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "L1WUbN06S6dDwZ23",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Configuration ---\n// 1. Set the name of the field from your input node that holds the URL.\nconst urlInputFieldName = \"Profile Link\";\n\n// 2. Set the name for the new field that will hold the username.\nconst usernameOutputFieldName = \"linkedInUsername\";\n// --- End of Configuration ---\n\n\n// This loop processes each item that n8n passes to the Code node.\nfor (const item of items) {\n  const rawUrl =$input.first().json[\"LinkedIn URL\"] ;\n  let username = null; // Default to null\n  //\n  // Check if the URL field actually exists and is a string\n  if (rawUrl && typeof rawUrl === 'string') {\n\n    // Regex to match the username part of the URL\n    // It looks for text between 'linkedin.com/in/' and the next '/', '?', or '#'.\n    const match = rawUrl.match(/linkedin\\.com\\/in\\/([^/?#]+)/i);\n    \n    // If a match was found, use the captured part (the username).\n    // decodeURIComponent handles special characters in URLs (e.g., %20 for a space).\n    if (match && match[1]) {\n      username = decodeURIComponent(match[1]);\n    }\n  }\n\n  // Add the new 'linkedInUsername' field to the item's JSON data.\n  // If no username was found, this will add 'null'.\n  item.json[usernameOutputFieldName] = username;\n}\n\n// Return all the modified items to the next node in your workflow.\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1344,
        256
      ],
      "id": "3e07dc63-0355-4b92-aabc-4b5304858f97",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6RbSZXL8BNziE2",
          "mode": "list",
          "cachedResultName": "Scrapper Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2"
        },
        "table": {
          "__rl": true,
          "value": "tblYEi97I3COQn2Ja",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2/tblYEi97I3COQn2Ja"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "DM sent",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Connection Request",
                  "value": "Connection Request"
                },
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "accepted",
                  "value": "accepted"
                },
                {
                  "name": "DM , Mail Ready",
                  "value": "DM , Mail Ready"
                },
                {
                  "name": "DM sent",
                  "value": "DM sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Connections",
              "displayName": "Connections",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proposed DM",
              "displayName": "Proposed DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Change for DM",
              "displayName": "Change for DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "proposed Mail ",
              "displayName": "proposed Mail ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change for mail",
              "displayName": "change for mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f6c1d204-db95-4f85-9f8f-d5baba158d39",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "L1WUbN06S6dDwZ23",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1568,
        240
      ],
      "id": "a51a9b24-582a-4d31-8314-bed2508870aa",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "=https://api21.unipile.com:15133/api/v1/users/{{ $json.linkedInUsername }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "UxrTL8x3SK2v5PHyInYmBg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "h3qwQUml.ZC8ZPkJrKh5fkSDeM78X0C8ZaXTH0RbSjVOkj49n4IU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        256
      ],
      "id": "c7ee8b26-7fbf-4b06-9ce3-10476e1d574e",
      "name": "Retrieve Profile",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69e34ec1-37f4-4679-8b2d-a981b65ba943",
              "leftValue": "={{ $json.object }}",
              "rightValue": "=ChatStarted",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -480,
        96
      ],
      "id": "3d3eddb2-0c2a-4b41-b91d-f13964c0929b",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        656
      ],
      "id": "a28f617d-eba8-40e9-80d8-29ffbbe2f975",
      "name": "Wait2",
      "webhookId": "aa651ae0-5a36-4cbe-97b3-4fa81093e1f6"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6RbSZXL8BNziE2",
          "mode": "list",
          "cachedResultName": "Scrapper Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2"
        },
        "table": {
          "__rl": true,
          "value": "tblYEi97I3COQn2Ja",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2/tblYEi97I3COQn2Ja"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search records').item.json.id }}",
            "Email": "=\"{{ $json.contact_info.emails }}\"",
            "username": "={{ $json.public_identifier }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Connection Request",
                  "value": "Connection Request"
                },
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "accepted",
                  "value": "accepted"
                },
                {
                  "name": "DM , Mail Ready",
                  "value": "DM , Mail Ready"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Connections",
              "displayName": "Connections",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proposed DM",
              "displayName": "Proposed DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Change for DM",
              "displayName": "Change for DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "proposed Mail ",
              "displayName": "proposed Mail ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change for mail",
              "displayName": "change for mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -912,
        224
      ],
      "id": "3f38bbd9-2c73-4a85-8d8c-811729f78019",
      "name": "Update Username",
      "credentials": {
        "airtableTokenApi": {
          "id": "L1WUbN06S6dDwZ23",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api21.unipile.com:15133/api/v1/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "h3qwQUml.ZC8ZPkJrKh5fkSDeM78X0C8ZaXTH0RbSjVOkj49n4IU="
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "UxrTL8x3SK2v5PHyInYmBg"
            },
            {
              "name": "attendees_ids[]",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "text",
              "value": "=Hi {{ $json.first_name }},\n\n{{ $('Search records').item.json[\"Proposed DM\"] }}"
            },
            {
              "name": "linkedin[api]",
              "value": "classic"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        208
      ],
      "id": "9c8a4cac-c309-44e7-be37-fc54044ee5cd",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1968,
        240
      ],
      "id": "d830cfda-704d-48ec-96fb-8d56b260b442",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app6RbSZXL8BNziE2",
          "mode": "list",
          "cachedResultName": "Scrapper Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2"
        },
        "table": {
          "__rl": true,
          "value": "tblYEi97I3COQn2Ja",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/app6RbSZXL8BNziE2/tblYEi97I3COQn2Ja"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "DM sent",
            "id": "={{ $('Search records').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Connection Request",
                  "value": "Connection Request"
                },
                {
                  "name": "Request Sent",
                  "value": "Request Sent"
                },
                {
                  "name": "error",
                  "value": "error"
                },
                {
                  "name": "accepted",
                  "value": "accepted"
                },
                {
                  "name": "DM , Mail Ready",
                  "value": "DM , Mail Ready"
                },
                {
                  "name": "DM sent",
                  "value": "DM sent"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Connections",
              "displayName": "Connections",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Researched",
              "displayName": "Researched",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proposed DM",
              "displayName": "Proposed DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Change for DM",
              "displayName": "Change for DM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "proposed Mail ",
              "displayName": "proposed Mail ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "change for mail",
              "displayName": "change for mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        32,
        224
      ],
      "id": "5f43efd8-0774-4271-a0f9-70f5fe96d60b",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "L1WUbN06S6dDwZ23",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Retrieve Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Profile": {
      "main": [
        [
          {
            "node": "Update Username",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Username": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7dbfbc72-ffe7-4d0f-a0f8-ba2d876d1a3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9f72d5da8aa662dcbea2916db4a47d9f5aea1490d5a66719948804be36ea244b"
  },
  "id": "b7PBF5zEvoIhHbEr",
  "tags": []
}